/app/app.yaml
/app/tiny_mce.zip
/bin/
/build
/develop-eggs/
/eggs/
/parts/
/scripts/.appengine_auth
/overrides/
*.pyc
*.zip
*~
*.orig
*.swp
.project
.pydevproject
.ropeproject
coverageResults
*,cover
/.coverage
*.egg-info
/.installed.cfg
.DS_Store*
/.settings
/.nfs*
\#*\#
.\#*
